* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

p {

    font-weight: 300;
    color: black;
    font-family: 'mongolian Baiti';
}

header {
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
   
    

}

.logo {
    color: black;
    font-weight: bold;

    text-decoration: none;
    padding: 0px 30px 50px 20px;

}

.nav {
    display:flex;
    margin-left: 600px;
    font-size: 20px;
}

.nav li {
    list-style: none;
    margin-left: 0;
}

.nav a {
    color: black;
    text-decoration: none;
    margin-right: 30px;
    font-weight: 700;
}

header .nav li a:hover {
    color: #fb911fc0;
    border-bottom: 2px solid transparent;
}

.inscription {
    font-size: 1em;
    color: #ba0000;
    background: #fb911fc0;

    display: inline-block;

    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;


}

.banniere {
    position: relative;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/sixteen-miles-out-ScvYtpYzgFI-unsplash.jpg);
    background-size: cover;
}

.banniere .contenu {
    max-width: 70%;
    text-align: center;
}

.banniere .contenu h2 {
    color: #000000;
    font-size: 3em;
    font-family: 'Segoe UI Black';
    text-transform: uppercase;
}

.contenu p {
    color: #000000;
    font-size: 2em;
}



.btn1 {
    font-size: 2em;
    color: #ffff;
    background: #fb911fc0;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}

.btn1:hover {
    letter-spacing: 4px;
}

section {
    padding: 100px;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .cl1 {
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;

}

.row .cl1 h2 {
    margin-bottom: 20px;
}

.titre-texte {
    color: #f60a0a;

    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}

.titre {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row .cl1 img {
    
    height: 500px;
    width: 350px;
    position: relative;
}

.cl1 p {

    font-size: 30px;
}

.cl1 a {
    color: #0d37f4;
    text-decoration: none;
    margin-left: 450px;
    font-weight: 700;
    font-size: 20px;



}

.vente {
    padding: 40px 5%;
}

.contenu2 {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));


}



.contenu2 .imbox {

    width: 310px;
    background: #ffe9c4;
    box-shadow: 0 10px 20px black;
    border-radius: 10px;
    margin-bottom: 20px;

}

.imbox img {
    
    height: 250px;
    padding: 5px 0 0 80px;
    justify-content: space-between;
    border-radius: 10px;

}

.contenu2 .imbox .desc {
    padding: 5px 20px;
    opacity: 0.8;

}

.contenu2 .imbox .titre {
    font-weight: 900;
    font-size: 20px;
    color: #000000;
    padding: 0 20px;
}

.contenu2.imbox.box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;


}

.prix {
    color: #f60a0a;
    font-size: 20px;
    font-weight: bold;
    margin-left: 100px;
}

.box1 button {
    font-size: 16px;
    font-weight: 900;
    padding: 10px 20px;
    color: #f60a0a;
    border-radius: 5px;
    margin-left: 80px;

}

.box1 button:hover {
    cursor: pointer;
    background: red;
    color: wheat;



}
.s3{ position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    
    
    background-image:url(./images/nadi-borodina-xkx93Q2Pe8E-unsplash.jpg);
    background-size: cover;
    
}
.formulaire{
    display: flex;
    flex-direction: row;
    padding: 75px 50px ;
    background: #fff;
    box-shadow: 5px 15px 50px rgba(0,0,0, 0.8);
    max-width: 500px;
    margin-top: 30px;
    justify-content:space-between;
    align-items: center;
    margin-left: 38%;
    
    
}
.s3 h2 {
    text-align: left;
    font-size: 40px;
    color: #ffffff;
   
}
.formulaire h3{
    font-size: 30px;
}

label {
    width: 200px;
    margin-bottom: 3px;
    padding: 0;
}
input {
    margin-bottom: 5px;
    padding: 5px;
    outline: 0;
    border: 1px solid rgba(0,0,0, 0.4);
    width:200px;
    
}
input :hover{
    border: 1px solid black;
}
.radio{
    display: inline;
    width: auto;
   
}
#btn3{
    width: 100%;
    margin-top: 15px;
    background-color: #fb911fc0;
    border: 1px solid #fb911dc0;
    border-radius: 10px;
    color:#fff;
    font-size: 20px;
    cursor: pointer;

}
#btn3 :hover{
    background-color: #fb911f81;
    color:#fff;
}
.inputboit p{
    text-align: center;
    margin: 5px o;
    font-size: 14px;
}
p a {
    text-decoration: 0;
    color: #f60a0a;
}